@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000000;
    color: #ededed;
    justify-content: center;
    align-items: center;
    display: flex;
    /* overflow: hidden; */
}

/* HEADER CSS */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed; 
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #720E07;
}

/* HOME CSS */
.home {
    height: 100vh;
    /* background: url('home.png') no-repeat; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    background: transparent;
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #720E07;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
    line-height: 1.5;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: transparent;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #720E07;
    border: 2px solid #720E07;
    border-radius: 8px;
    font-size: 19px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #720E07;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #720E07;
    border-radius: 50%;
    font-size: 20px;
    color: #720E07;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a:hover {
    color: #000000;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #720E07;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/* KEYFRAMES ANIMATIONS */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

/* PROJECTS CSS */
.projects {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    padding: 250px 10% 0;
    flex-direction: column; /* Stack items vertically */
}

.project-card {
    display: grid;
    background-color: #111111;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    height: 350px; /* Fixed height */
    width: 400px;
}

.project-card h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.project-card a {
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-card i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #720E07;
    font-size: 100px;
}

/* Add hover effect to project cards */
.project-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* CONTACT CSS */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* padding: 0 10%; */
    padding: 150px 10% 0;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
    background: #080808;
    width: 100%;
    height: 100%;
    box-shadow: 4px 3px 4px #fff;
    border-radius: 5px;
}

.wrapper h2 {
    font-size: 3rem;
    color: #fff;
    padding: 2rem 1rem;
    position: relative;
}

.wrapper h2::after {
    content: "";
    position: absolute;
    height: 5px;
    top: 100px;
    left: 20px;
    width: 18%;
    background: #720E07;
}

.form-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

.form-section li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.form-details .icons {
    background: #720E07;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 50%;
}

.form-details li {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: #fff;
    margin: 0.8rem 0;
}

.form-details li i {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.form-details strong {
    color: antiquewhite;
}

.form-details p {
    color: #fff;
}

.form-group {
    position: relative;
}

.form-group .form-control {
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    padding: 0.8rem;
    margin: 1rem 0;
    resize: none;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group span {
    position: absolute;
    top: 0.8rem;
    left: 0;
    padding: 1rem;
    pointer-events: none;
    font-size: 0.8rem;
    color: #ddd;
    text-transform: uppercase;
    transition: .5s;
}

.form-group .form-control:valid ~ span,
.form-group .form-control:focus ~ span {
    background: #720E07;
    color: #fff;
    transform: translateX(10px) translateY(-10px);
    font-size: 0.8rem;
    padding: 0 10px;
}

.input-field button {
    outline: none;
    border: none;
    background: #720E07;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: .4s;
}

.input-field button:active {
    transform: scale(1.1);
}

/* ABOUT CSS */
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    background: #080808;
    background: linear-gradient(45deg, #000000, #141414);
    /* background: #ff0000; */
    margin: 100px;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}


.top {
    position: relative;
    /* background: #3700ff; */
    width: 100%;
    /* height: 400px; */
    /* background: linear-gradient(45deg, #720E07, #080808); */
    padding: 50px 50px 10px 50px;
}

.top h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    line-height: 0.7em;
    letter-spacing: 0.1em;
}

.top h2 span {
    font-size: 0.4em;
    font-weight: 300;
}

.group {
    position: relative;
    display: grid;
    gap: 40px;
    width: 100%;
    grid-template-columns: 2fr 3fr;
    margin-top: 20px;
}

.group .imgBox {
    position: relative;
    width: 100%;
}

.group .imgBox img {
    width: 100%;
}

.group p {
    color: #fff;
    font-size: 1.05em;
}

.bottom {
    position: relative;
    display: grid;
    margin: 10px 50px 0;
    gap: 40px;
    grid-template-columns: 2fr 3fr;
}

.bottom .left_side {
    margin-top: 0px;
}

.bottom h4 {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #fff;
    background: #720E07;
    font-weight: 600;
    padding: 0 15px;
    margin-top: 40px;
    display: inline-block;
}

.contactInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.contactInfo li {
    list-style: none;
    display: flex;
    gap: 10px;
}

.contactInfo li .icon {
    color: #720E07;
}

.skills {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.skills .skillsBox {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr;
}

.skills .skillsBox p {
    color: #720E07;
}

.skills .skillsBox .value {
    position: relative;
    width: 100%;
    height: 10px;
    background: #fff;
}

.skills .skillsBox .value::before {
    content: "";
    position: absolute;
    width: var(--i);
    height: 100%;
    background: #720E07;
}

.adjustMargin {
    margin-top: -10px;
}

.edu_group {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.edu_groupBx {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 4px;
}

.edu_groupBx .value p:nth-child(1) {
    font-weight: 500;
}

.edu_groupBx .value b {
    font-weight: 600;
    color: #720E07;
}

.edu_groupBx .value b span {
    position: relative;
    top: -2px;
    font-size: 0.8em;
    color: #fff;
    padding-top: 4px;
}

.hobbies h4 {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #fff;
    background: #720E07;
    font-weight: 600;
    padding: 0 15px;
    margin-top: 40px;
    display: inline-block;
}

.hobbies {
    padding: 0 50px 50px;
}

.hobbies ul {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    justify-content: space-between;
}

.hobbies ul li {
    list-style: none;
    color: #fff;
    width: calc(100%/5);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #111111;
    text-align: center;
    /* cursor: pointer; */
}

.hobbies ul li:hover {
    background: #720E07;
    color: #fff;
}

.hobbies ul li i {
    font-size: 2em;
}

/* Remove default list style for the nested lists */
.hobbies ul.sub-hobby {
    list-style: none;
    padding-left: 20px; /* Indent nested bullet items */
    margin-top: 10px;
}

/* Style each nested bullet item */
.hobbies ul.sub-hobby li {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust spacing between the bullet and text */
    margin-bottom: 5px;
}

/* Style the bullet so it’s a smaller version of the category icon */
.hobbies ul.sub-hobby li .bullet {
    font-size: 0.8em; /* Adjust size as needed */
    display: inline-flex;
    align-items: center;
}

/* Optional: Style the sub-text if needed */
.hobbies ul.sub-hobby li .sub-text {
    font-size: 0.95em;
}
  


.right_side {
    padding-top: 0px;
}

/* LinkedIn List Item Styles */
li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 10px 0;
}

li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #720E07;
  border-radius: 50%;
  color: #720E07;
  transition: background 0.3s ease, color 0.3s ease;
}

li .icon:hover {
  background: #720E07;
  color: #fff;
}

li a.text {
  font-size: 16px;
  color: #ededed;
  text-decoration: none;
  transition: color 0.3s ease;
}

li a.text:hover {
  color: #720E07;
}

/* RESPONSIVE MEDIA QUERIES */

/* For screens up to 1024px */
@media (max-width: 1024px) {
    .logo {
        font-size: 22px;
    }
    .navbar a {
        font-size: 16px;
        margin-left: 20px;
    }
    .home-content h1 {
        font-size: 44px;
    }
    .home-content h3 {
        font-size: 28px;
    }
    .home-content p {
        font-size: 14px;
    }
    .btn-box a {
        width: 130px;
        font-size: 17px;
    }
    .home-sci a {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
    .project-card {
        width: 350px;
        height: 300px;
    }
}

/* For screens up to 768px */
@media (max-width: 768px) {
    .header {
        padding: 15px 5%;
    }
    .navbar a {
        font-size: 14px;
        margin-left: 10px;
    }
    .home {
        padding: 0 5%;
    }
    .home-content {
        max-width: 90%;
    }
    .home-content h1 {
        font-size: 36px;
    }
    .home-content h3 {
        font-size: 24px;
    }
    .home-content p {
        font-size: 14px;
    }
    .btn-box {
        width: 100%;
    }
    .btn-box a {
        width: 100%;
        font-size: 16px;
    }
    .home-sci {
        width: 140px;
        bottom: 20px;
    }
    .project-card {
        width: 90%;
        height: auto;
        margin: 1rem 0;
    }
    .projects {
        padding: 150px 5% 0;
    }
    .form-container {
        padding: 100px 5% 0;
    }
    .container {
        margin: 50px 5%;
    }
}

/* For screens up to 480px */
@media (max-width: 480px) {
    .logo {
        font-size: 20px;
    }
    .navbar a {
        font-size: 12px;
        margin-left: 5px;
    }
    .home-content h1 {
        font-size: 32px;
    }
    .home-content h3 {
        font-size: 20px;
    }
    .btn-box a {
        font-size: 14px;
    }
    .project-card {
        padding: 0.5rem;
    }
    .form-container {
        padding: 80px 5% 0;
    }
    .wrapper h2 {
        font-size: 2rem;
    }
    .container {
        margin: 20px 5%;
    }
}
